<div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Michelangelo_Buonarroti_Tondo_Doni.jpg/117px-Michelangelo_Buonarroti_Tondo_Doni.jpg">
      <h2>Estres</h2>
      <p>Sabemos lo estresante que puede ser encontrar la casa adecuada.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="https://elbauldelprogramador.com/img/C%C3%B3mo-Crear-Imagenes-Con-Un-Marco-Circular-Al-Estilo-G+-en-LaTeX.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Paciencia</h2>
      <p>Por muy obscuro que paresca, nosotors te ayudaremos a ver la luz y encontrar tu hogar.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="http://androidwatchface.com/userfiles/watchfaces/f47bf6b5-1bbc-4311-aab7-21047f6c49ee.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Rapidez</h2>
      <p>Con un catálogo muy aplio de casas te aseguramos que tardaras mas en llegar a las oficinas,que en lo que escogeras tu nueva casa.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->